<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head', {title: "Administración"}) %>
</head>
<body>

    <main id="admin">

        <h1>Administración</h1>

        <p>Hola <%= user.username %> (<%= user.email %> )</p>

        <a href="/logout" class="button">Salir</a>

    </main>
    
    <footer>
        Administración
    </footer>
</body>
</html>