<div class="inner">
    <div>
        <h2>Lorem ipsum dolor sit amet consectetur.</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil inventore laudantium, quisquam eligendi distinctio esse iure, voluptatum corporis architecto rerum laboriosam nobis pariatur eius quas beatae autem dolor maxime voluptate. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente cupiditate fugiat reprehenderit laudantium. Asperiores nemo ad necessitatibus esse vel dicta nulla atque delectus, veniam facilis illo aut pariatur quasi ut!</p>
        <p>
            <a href="#"><img class="social-icon" src="images/instagram.png" alt=""></a>
            <a href="#"><img class="social-icon" src="images/linkedin.png" alt=""></a>
            <a href="#"><img class="social-icon" src="images/whatsapp.png" alt=""></a>
        </p>
    </div>
    <div>
        <h2>Enlaces legales</h2>
        <ul>
            <li><a href="#">Enlace Legal 1</a></li>
            <li><a href="#">Enlace Legal 2</a></li>
            <li><a href="#">Enlace Legal 3</a></li>
            <li><a href="#">Enlace Legal 4</a></li>
            <li><a href="#">Enlace Legal 5</a></li>
        </ul>
    </div>
    <div>
        <h2>Acceso a administración</h2>
        <form action="">
            <div class="control">
                <label for="user">Usuario:</label>
                <input id="user" name="usuario" type="text">
            </div>
            <div class="control">
                <label for="password">Password:</label>
                <input id="password" name="password" type="password">
            </div>
            <div class="control">
                <button>Login</button>
            </div>
        </form>
    </div>
</div>
<div class="foot">
    Developed by 2DAW
</div>