<nav class="menu">
    <a href="/"><img src="https://picsum.photos/150/40" alt=""></a>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li>
            <a href="#">Menus & carta</a>
            <ul class="submenu">
                <li><a href="#">Carta</a></li>
                <li><a href="#">Menús del día</a></li>
                <li><a href="#">Celebraciones</a></li>
            </ul>
        </li>
        <li><a href="/galeria">Galería</a></li>
        <li><a href="/contacta-con-nosotros">Contacto</a></li>
    </ul>
    <ul>
        <li><a id="open-offcanvas" href="#">Reservar</a></li>
    </ul>
    <ul class="mobile-open-menu">
        <li><a id="open-menu" href="#">Menu</a>
            <ul class="submenu">
                <li><a href="#">Carta</a></li>
                <li><a href="/galeria">Galeria</a></li>
                <li><a href="/contacta-con-nosotros">Contacto</a></li>
            </ul>                
        </li>
    </ul>
</nav>