
<h2>Reserva mesa</h2>
<form action="">
    <div class="control">
        <label for="email_reserva">Email</label>
        <input type="email" placeholder="pon tu correo" id="email_reserva" name="email">
    </div>
    <div class="control">
        <label for="fecha_reserva">Fecha</label>
        <input type="datetime-local" id="fecha_reserva" name="fecha">
    </div>
    <div class="control">
        <label for="personas_reserva">Personas</label>
        <input type="number" min="1" max="5" value="1" id="personas_reserva" name="personas">
    </div>
    <input id="lenguaje" type="hidden" name="lenguaje">

    <div class="control">
        <button>Enviar</button>
    </div>
</form>

<button class="close">&times;</button>