<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head_admin', {title: "Administración"}) %>
</head>
<body>

    <%- include('partials/header_aside',{user:user}) %>

    <main id="admin">
        <p>Bienvenido a la administración</p>
    </main>
    
    <footer>
        <div class="foot">
            ADMIN Developed by 2DAW
        </div>
    </footer>

</body>
</html>