<header id="top">
    <nav class="menu">
        <a href="/"><img src="https://picsum.photos/150/40" alt=""></a>
        <div>
            Hola <%= user.username %>
        </div>
        <ul>
            <li><a id="open-offcanvas" href="/logout">Salir</a></li>
        </ul>
    </nav>
</header>

<aside>
    <h2>Administración</h2>
    <nav>
        <ul>
            <li><a href="/admin">Administración</a></li>               
            <li><a href="/admin/mensajes">Contactos</a></li>
            <li><a href="/logout">Salir</a></li>
        </ul>
    </nav>
</aside>